<div class="card">
        <div class="table-responsive form-group">
            <p style="text-align:right"><button (click)="ExportTOExcel()">Export to Excel</button></p> 
                <table #table class="table table-condensed ea_table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Account</th>
                        <th scope="col">DHBE</th>
                       <!-- <th scope="col">NPBE</th> -->
                       <th scope="col">PMBE-DHBE</th>
                       <th scope="col">RTBR-DHBE</th>
                       <th scope="col">PMBE</th>
                       <th scope="col">RTBR</th>
                       <th scope="col">PMBE-RTBR</th>
                       <th scope="col">Remarks</th>
                       <th scope="col">Cur Mnth DHBE</th>
                       <th scope="col">Cur Mnth PMBE</th>
                       <th scope="col">Cur Mnth RTBR</th>
                   </tr>
                    </thead>
                    
                   
                    <tbody>
                      <tr *ngFor="let acntSummary of accountSummary; index as i">
                        <td scope="row" >{{i+1}}</td>
                        <td scope="row" >{{acntSummary.accountName}}</td>
                        <td scope="row" >{{acntSummary.dhBE | number:'1.1-1' }}</td>
                       <!-- <td scope="row" >{{acntSummary.npBE}}</td> -->
                       <td scope="row">{{acntSummary.pmBE-acntSummary.dhBE | number:'1.1-1'}}</td>

                       <td scope="row">{{acntSummary.rtb-acntSummary.dhBE | number:'1.1-1' }}</td>
                        

                        <td scope="row" >{{acntSummary.pmBE | number:'1.1-1' }} </td>
                       

                       
                        <td scope="row">{{acntSummary.rtb | number:'1.1-1' }}</td>
                       


                        <td scope="row">{{acntSummary.pmBE-acntSummary.rtb | number:'1.1-1' }}</td>

                        <td scope="row">{{acntSummary.remarks}}</td>
                        <td scope="row">{{acntSummary.currmnthdhbe | number:'1.1-1'}}</td>
                        <td scope="row">{{acntSummary.m2be | number:'1.1-1'}}</td>
                        <td scope="row">{{acntSummary.m2rtbr | number:'1.1-1'}}</td>
                        
                        
                      </tr>
                      <tr>
                         
                            <th scope="col"></th>
                            <th scope="col">Total</th>
                            <th scope="col">{{totalBE[0] | number:'1.1-1' }}</th>
                            <th scope="col">{{totalBE[5] | number:'1.1-1' }}</th>
                            <th scope="col">{{totalBE[6] | number:'1.1-1' }}</th>
                            <th scope="col">{{totalBE[2] | number:'1.1-1' }}</th> 
                            <th scope="col">{{totalBE[3] | number:'1.1-1' }}</th>
                            <th scope="col">{{totalBE[4] | number:'1.1-1' }}</th>
                            <th scope="col"></th>
                            <th scope="col">{{totalBE[7] | number:'1.1-1' }}</th>
                            <th scope="col">{{totalBE[9] | number:'1.1-1' }}</th>
                            <th scope="col">{{totalBE[12] | number:'1.1-1' }}</th>
                           
  
                        </tr> 
                 
                    
                    </tbody>
              
                  
                </table>
            </div>
     </div>