
            
        <p style="text-align:right"><button (click)="ExportTOExcel()">Export to Excel</button></p>        
        <section class="content-area">
            <div class="table-area">
               <div class="form-group">
                        
                <table #table class="responsive-table table-bordered table-condensed auto-w">

                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Acnt</th>
                            <th scope="col">Track</th>
                            <th scope="col">Curr(N)</th>
                            <th scope="col">Disc(N)</th>
                            <th scope="col">M1N<a *ngIf="showUpdatebuttonflag"><input type="button" value="update" (click)="updateDB()"></a></th>
                            <th scope="col">M1B</th>
                            <th scope="col">M1R</th>
                            <th scope="col">M1(B-R)</th>
                            <th scope="col"></th>
                            <th scope="col">M2N</th>
                            <th scope="col">M2B</th>
                            <th scope="col">M2R</th>
                            <th scope="col">M2(B-R)</th>
                            <th scope="col"></th>
                            <th scope="col">M3N</th>
                            <th scope="col">M3B</th>
                            <th scope="col">M3R</th>
                            <th scope="col">M3(B-R)</th>
                            <th scope="col"></th>
                            <th scope="col">TotB</th>
                            <th scope="col">TotR</th>
                            <th scope="col"><a (click)="toggleCheckbox()">Edit</a></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let acntBE of accountBE; index as i">
                            <td scope="row">{{i+1}}</td>
                            <td scope="row">{{acntBE.accountName}}</td>
                            <td scope="row">{{acntBE.accountTrack}}</td>


                            <td scope="row">
                                    <p *ngIf="showTextbox[i] && loginService.isAdmin()"><input type=text style="width:30px" [(ngModel)]="nativecurrency[i]" (change)="updateAcntBENPBE(i)"></p>
                                    <p *ngIf="showTextbox[i] && !loginService.isAdmin()">{{acntBE.nativecurrency}}</p>
                                    <p *ngIf="!showTextbox[i]">{{acntBE.nativecurrency}}</p>
                            </td>

                            <td scope="row">
                                        <p *ngIf="showTextbox[i] && loginService.isAdmin()"><input type=text style="width:30px" [(ngModel)]="nativediscount[i]" (change)="updateAcntBENPBE(i)"></p>
                                        <p *ngIf="showTextbox[i] && !loginService.isAdmin()">{{acntBE.nativediscount}}</p>
                                        <p *ngIf="!showTextbox[i]">{{acntBE.nativediscount}}</p>
                                
                           </td>
                          <!--  <td scope="row"> {{acntBE.nativecurrency}}   </td> 
                                 <td scope="row">
                                    <p *ngIf="showTextbox[i]"><input type=text  style="width:50px" appOnlydouble required [(ngModel)]="nativediscount[i]" (change)="updateAcntBENPBE(i)"></p>
                                    <p *ngIf="!showTextbox[i]">{{acntBE.nativediscount}}</p>
                            </td> 

                            <td scope="row"> {{acntBE.nativediscount | number:'1.2-2'}}   </td> -->

                         <!--   <td scope="row">
                                    <p *ngIf="showTextbox[i]"><input type=text style="width:50px" appOnlydouble required [(ngModel)]="m1native[i]" (change)="updateAcntBENPBE(i)"></p>
                                    <p *ngIf="!showTextbox[i]">{{acntBE.m1native | number:'1.1-1'}}</p>
                            </td>

                            

                            <td scope="row">
                                    <p *ngIf="showTextbox[i]"><input type=text style="width:50px" appOnlydouble required [(ngModel)]="m1be[i]" (change)="updateAcntBENPBE(i)"></p>
                                    <p *ngIf="!showTextbox[i]">{{acntBE.m1be}}</p>
                                  

                            </td>  -->

                            <td>{{acntBE.m1native | number:'1.1-1'}}</td>
                            <td scope="row"> {{acntBE.m1be | number:'1.1-1'}}   </td>
                            <td scope="row"> {{acntBE.m1rtbr | number:'1.1-1'}}   </td>
                            <td scope="row"> {{acntBE.m1be-acntBE.m1rtbr | number:'1.1-1'}}   </td>
                           <!-- <td scope="row">
                                    <div class="wrap" *ngIf="showTextbox[i]"><textarea style="width:60px" class="e-input" placeholder="M1 Remarks" [(ngModel)]="m1bertbrremarks[i]" (change)="updateAcntBENPBE(i)" (click)="updateAcntBENPBE(i)"></textarea></div>
            
                                    <p *ngIf="!showTextbox[i]">{{acntBE.m1bertbrremarks}}</p>
                            </td> -->

                            <td>{{acntBE.m1bertbrremarks}}</td>

                            <td scope="row">
                                    <p *ngIf="showTextbox[i]"><input type=text style="width:30px" [(ngModel)]="m2native[i]" (change)="updateAcntBENPBE(i)" (click)="updateAcntBENPBE(i)"></p>
                                    <p *ngIf="!showTextbox[i]">{{acntBE.m2native | number:'1.1-1'}}</p>
                            </td>
                         <!--   <td scope="row">
                                    <p *ngIf="showTextbox[i]"><input type=text style="width:50px" appOnlydouble required [(ngModel)]="m2be[i]" (change)="updateAcntBENPBE(i)"></p>
                                    <p *ngIf="!showTextbox[i]">{{acntBE.m2be}}</p>
                            </td>
                            <td scope="row">
                                    <p *ngIf="showTextbox[i]"><input type=text style="width:50px" appOnlydouble required [(ngModel)]="m2rtbr[i]" (change)="updateAcntBENPBE(i)"></p>
                                    <p *ngIf="!showTextbox[i]">{{acntBE.m2rtbr}}</p>
                            </td> -->

                            <td scope="row"> {{acntBE.m2be | number:'1.1-1'}}   </td>
                            <td scope="row"> {{acntBE.m2rtbr | number:'1.1-1'}}   </td>

                            <td scope="row"> {{acntBE.m2be-acntBE.m2rtbr | number:'1.1-1'}}   </td>
                            <td scope="row">
                                    <div class="wrap" *ngIf="showTextbox[i]"><textarea style="width:55px" class="e-input" placeholder="M2 Remarks" [(ngModel)]="m2bertbrremarks[i]" (change)="updateAcntBENPBE(i)"></textarea></div>
            
                                    <p *ngIf="!showTextbox[i]">{{acntBE.m2bertbrremarks}}</p>
                            </td>


                            <td scope="row">
                                    <p *ngIf="showTextbox[i]"><input type=text style="width:30px" [(ngModel)]="m3native[i]" (change)="updateAcntBENPBE(i)"></p>
                                    <p *ngIf="!showTextbox[i]">{{acntBE.m3native | number:'1.1-1'}}</p>
                            </td>
                         <!--   <td scope="row">
                                    <p *ngIf="showTextbox[i]"><input type=text style="width:50px" appOnlydouble required [(ngModel)]="m3be[i]" (change)="updateAcntBENPBE(i)"></p>
                                    <p *ngIf="!showTextbox[i]">{{acntBE.m3be}}</p>
                            </td>
                            <td scope="row">
                                    <p *ngIf="showTextbox[i]"><input type=text style="width:50px" appOnlydouble required [(ngModel)]="m3rtbr[i]" (change)="updateAcntBENPBE(i)"></p>
                                    <p *ngIf="!showTextbox[i]">{{acntBE.m3rtbr}}</p>
                            </td> -->

                            <td scope="row"> {{acntBE.m3be | number:'1.1-1'}}   </td>
                            <td scope="row"> {{acntBE.m3rtbr | number:'1.1-1'}}   </td>

                            <td scope="row"> {{acntBE.m3be-acntBE.m3rtbr | number:'1.1-1'}}   </td>
                           
                            <td scope="row">
                                    <div class="wrap" *ngIf="showTextbox[i]"><textarea style="width:55px" class="e-input" placeholder="M3 Remarks" [(ngModel)]="m3bertbrremarks[i]" (change)="updateAcntBENPBE(i)"></textarea></div>
            
                                    <p *ngIf="!showTextbox[i]">{{acntBE.m3bertbrremarks}}</p>
                            </td>

                            <td scope="row">{{acntBE.pmBE | number:'1.1-1'}} </td>
                            <td scope="row">{{acntBE.rtb | number:'1.1-1'}} </td>

                            <td scope="row" *ngIf="!chkbox">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" (click)="toggleTextbox(i); toggleUpdatebutton(); updateAcntBENPBE(i)"> </td>
                            <td scope="row" *ngIf="chkbox">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" [(ngModel)]="chkbox" (change)="toggleTextbox(i); toggleUpdatebutton(); updateAcntBENPBE(i)"> </td>
    
                            
                          </tr>
                          <tr>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col">{{totalBE[8] | number:'1.1-1' }}</th>
                                        <th scope="col">{{totalBE[11] | number:'1.1-1' }}</th>
                                        <th scope="col">{{totalBE[8] - totalBE[11] | number:'1.1-1' }}</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col">{{totalBE[9] | number:'1.1-1' }}</th>
                                        <th scope="col">{{totalBE[12] | number:'1.1-1' }}</th>
                                        <th scope="col">{{totalBE[9] - totalBE[12] | number:'1.1-1' }}</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col">{{totalBE[10] | number:'1.1-1' }}</th>
                                        <th scope="col">{{totalBE[13] | number:'1.1-1' }}</th>
                                        <th scope="col">{{totalBE[10] - totalBE[13] | number:'1.1-1' }}</th>
                                        <th scope="col"></th>
                                        <th scope="col">{{totalBE[2] | number:'1.1-1' }}</th>
                                        <th scope="col">{{totalBE[3] | number:'1.1-1' }}</th>
              
                                    </tr> 

                        </tbody>
                  
                      
                      </table>
                </div>
        </div>
</section>