<div class="card">
    <div class="table-responsive form-group">
        <p style="text-align:right"><button (click)="ExportTOExcel()">Export to Excel</button></p> 
            <table #table class="table table-condensed ea_table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Account</th>
                        <th scope="col">Track</th>
                        <th scope="col">DHBE<a *ngIf="showUpdatebuttonflag"><input type="button" value="update" (click)="updateDB()"></a></th>
                       <!-- <th scope="col" >NPBE<a *ngIf="showUpdatebuttonflag"><input type="button" value="update" (click)="updateDB()"></a></th> -->
                        <th scope="col">PMBE-DHBE</th>
                        <th scope="col">RTBR-DHBE</th>
                        <th scope="col">PMBE</th>
                        <th scope="col">RTBR</th>
                        <th scope="col">PMBE-RTBR</th>
                        <th scope="col">Remarks</th>
                        <!--<th scope="col"><a (click)="toggleRemarks()">Remarks (click here to {{showRemarksText}})</a></th> -->
                        
                        
                        
                        <th scope="col">Edit</th>
                        <th scope="col">Cur Mnth DHBE</th>
                        <th scope="col">Cur Mnth PMBE</th>
                        <th scope="col">Cur Mnth RTBR</th>
                        
                        
                      </tr>
                    </thead>
                    
                   
                    <tbody>
                      <tr *ngFor="let acntBE of accountBE; index as i">
                        <td scope="row">{{i+1}}</td>
                        <td scope="row">{{acntBE.accountName}}</td>
                        <td scope="row">{{acntBE.accountTrack}}</td>
                        <td scope="row">{{acntBE.dhBE | number:'1.1-1' }}</td>
                       <!-- <td scope="row">
                          <p *ngIf="showTextbox[i]"><input type=text appOnlynumber required [(ngModel)]="npBE[i]" (change)="updateAcntBENPBE(i)"></p>
                          <p *ngIf="!showTextbox[i]">{{acntBE.npBE}}</p>
                        </td> -->


                        <td scope="row">{{acntBE.pmBE-acntBE.dhBE | number:'1.1-1'}}</td>

                        <td scope="row">{{acntBE.rtb-acntBE.dhBE | number:'1.1-1' }}</td>

                       <!-- <td scope="row">
                          <p *ngIf="showTextbox[i]"><input type=text appOnlynumber required [(ngModel)]="pmBE[i]" (change)="updateAcntBENPBE(i)"></p>
                          <p *ngIf="!showTextbox[i]">{{acntBE.pmBE | number:'1.2-2' }}</p>
                        </td> -->

                        <td scope="row">{{acntBE.pmBE | number:'1.1-1' }}</td>
                         
                        <td scope="row">{{acntBE.rtb | number:'1.1-1' }}</td>
                       


                        <td scope="row">{{acntBE.pmBE-acntBE.rtb | number:'1.1-1' }}</td>

                        

                        <!--<td scope="row">
                          <p *ngIf="showTextbox[i]" (click)="toggleSummary(i)"><textarea class="form-control" rows=5 [(ngModel)]="remarks[i]" (change)="updateAcntBENPBE(i)"></textarea></p>
                          <p *ngIf="!showTextbox[i]" (click)="toggleSummary(i)">{{acntBE.remarks}}</p>
                        </td> -->

                        
                                              
                        
                        
                       <!-- <td scope="row"><input type="checkbox" (click)="toggleSummary(i); toggleTextbox(i); toggleUpdatebutton()"> </td> -->


                        <td scope="row" text-align='left'>  
                          <div class="wrap" *ngIf="showTextbox[i]"><textarea style="width:80px" text-align='left' class="e-input" placeholder="Remarks" [(ngModel)]="remarks[i]" (change)="updateAcntBENPBE(i)" (click)="updateAcntBENPBE(i)"></textarea></div>
  
                          <p *ngIf="!showTextbox[i]">{{acntBE.remarks}}</p>
                        </td>
  
                        
                        <td scope="row">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" (click)="toggleTextbox(i); toggleUpdatebutton()"> </td>

                        <td scope="row">{{acntBE.currmnthdhbe | number:'1.1-1'}}</td>
                        <td scope="row">{{acntBE.m2be | number:'1.1-1'}}</td>
                        <td scope="row">{{acntBE.m2rtbr | number:'1.1-1'}}</td>
                        
                        
                      </tr>
                     <tr>
                          <th scope="col"></th>
                          <th scope="col">Total</th>
                            <th scope="col"></th>
                              <th scope="col">{{totalBE[0] | number:'1.1-1' }}</th>
                          <!--<td scope="row">{{totalBE[1] | number:'1.2-2' }}</td> -->
                          
                          <th scope="col">{{totalBE[5] | number:'1.1-1' }}</th>
                            <th scope="col">{{totalBE[6] | number:'1.1-1' }}</th>
                              <th scope="col">{{totalBE[2] | number:'1.1-1' }}</th> 
                                <th scope="col">{{totalBE[3] | number:'1.1-1' }}</th>
                                  <th scope="col">{{totalBE[4] | number:'1.1-1' }}</th>
                                    <th scope="col"></th>
                          
                                      <th scope="col"></th>
                                        <th scope="col">{{totalBE[7] | number:'1.1-1' }}</th>
                                          <th scope="col">{{totalBE[9] | number:'1.1-1' }}</th>
                                            <th scope="col">{{totalBE[12] | number:'1.1-1' }}</th>

                      </tr> 
                    </tbody>
              
                  
                  </table>
       </div>
</div>