<div class="card">
    <div class="table-responsive form-group">
        <p style="text-align:right"><button (click)="ExportTOExcel()">Export to Excel</button></p> 
            <table #table class="table table-condensed ea_table">
                    <thead>
                      <tr>
                        
                        <th scope="col">DM</th>
                        
                        <th scope="col">TargetPHC</th>
                        <th scope="col">TargetVOL</th>
                        <th scope="col">PHC Today<a *ngIf="showUpdatebuttonflag"><input type="button" value="update" (click)="updateDB()"></a></th>
                        <th scope="col">VOL Today</th>
                        <th scope="col">Phc Endstate</th>
                        
                        <th scope="col">PHC gap</th>
                        <th scope="col">Vol gap</th>
                        <th scope="col">Remarks</th>
                        <th scope="col">Edit</th>
                       
                        
                        
                      </tr>
                    </thead>
                    
                  <tbody>
                    <tr *ngFor="let totPV of totPhcVol; index as i">
                         <td scope="row">{{totPV.dm}}</td>


                         <td scope="row">
                          <p *ngIf="showTextbox[i] && loginService.isAdmin()"><input type=text style="width:50px" appOnlynumber required [(ngModel)]="phcTarget[i]" (change)="updateAcntBENPBE(i)"></p>
                          <p *ngIf="showTextbox[i] && !loginService.isAdmin()">{{totPV.phcTarget}}</p>
                          <p *ngIf="!showTextbox[i]">{{totPV.phcTarget}}</p>
                        </td>
                        <td scope="row">
                          <p *ngIf="showTextbox[i] && loginService.isAdmin()"><input type=text style="width:50px" [(ngModel)]="volTarget[i]" (change)="updateAcntBENPBE(i)"></p>
                          <p *ngIf="showTextbox[i] && !loginService.isAdmin()">{{totPV.volTarget | number:'1.1-1'}}</p>
                          <p *ngIf="!showTextbox[i]">{{totPV.volTarget | number:'1.1-1'}}</p>
                        </td>
  

                            <td scope="row">{{totPV.phcAOD | number }}</td>
                            <td scope="row">{{totPV.volAOD | number:'1.1-1' }}</td>
                            <td scope="row">{{totPV.phcAOL}}</td>
                            <td scope="row">{{totPV.phcGap}}</td>
                            <td scope="row">{{totPV.volGap | number:'1.1-1' }}</td>
                            <td scope="row">
                              <div class="wrap" *ngIf="showTextbox[i]"><textarea class="e-input" placeholder="Remarks" [(ngModel)]="remarks[i]" (change)="updateAcntBENPBE(i)" (click)="updateAcntBENPBE(i)"></textarea></div>
      
                              <p *ngIf="!showTextbox[i]">{{totPV.remarks}}</p>
                            </td>
                            <td scope="row">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" (click)="toggleTextbox(i); toggleUpdatebutton()"> </td>
                         </tr> 
                       
                         

                        <tr>
                          
                          <td scope="row">Total</td>
                          <td scope="row">{{totaldmpv[0]}}</td>
                          <td scope="row">{{totaldmpv[1] | number:'1.1-1' }}</td>
                          <td scope="row">{{totaldmpv[2]}}</td>
                          <td scope="row">{{totaldmpv[3] | number:'1.1-1' }}</td>
                          <td scope="row">{{totaldmpv[4]}}</td>
                          
                          <td scope="row">{{totaldmpv[5]}}</td>
                          <td scope="row">{{totaldmpv[6] | number:'1.1-1'}}</td>
                          
                          <td scope="row"></td>
                          <td scope="row"></td>
  
                      </tr> 
                
                    </tbody>
              
                  
                  </table>
       </div>
  </div>
